.nav-trigger .bar {
    background-color: #fff !important;
}

.nav-trigger.collapsed.style-mobile .bar:nth-child(2) {
    width: 20px;
}

 .bar { 
	height: 3px !important;
	width: 24px !important; 
}

.nav-trigger.style-mobile .bars {
	height: 19px !important;
}

.nav-trigger.style-mobile .bar:nth-child(2) {
	margin-right: 0px !important;
}

.nav-trigger.style-mobile .bar {
	border-radius: 0px !important;
}

.visible-xs {
  @media (max-width: @screen-phone-max) {
  .responsive-visibility();
  }  
  @media (min-width: @screen-tablet) and (max-width: @screen-tablet-max) {
    .responsive-invisibility();
  }
  @media (min-width: @screen-desktop) and (max-width: @screen-desktop-max) {
    .responsive-invisibility();
  }
  @media (min-width: @screen-large-desktop) {
    .responsive-invisibility();
  }
}
.visible-sm {
  @media (max-width: @screen-phone-max) {
  .responsive-invisibility();
  }
  &.visible-xs {
    @media (max-width: @screen-phone-max) {
      .responsive-visibility();
    }    
  }
  @media (min-width: @screen-tablet) and (max-width: @screen-tablet-max) {
    .responsive-visibility();
  }
  @media (min-width: @screen-desktop) and (max-width: @screen-desktop-max) {
    .responsive-invisibility();
  }
  @media (min-width: @screen-large-desktop) {
    .responsive-invisibility();
  }
}
.visible-md {
  @media (max-width: @screen-phone-max) {  
  .responsive-invisibility();
  }
  &.visible-xs {
    @media (max-width: @screen-phone-max) {  
      .responsive-visibility();
    }    
  }
  @media (min-width: @screen-tablet) and (max-width: @screen-tablet-max) {
    .responsive-invisibility();
  }
  &.visible-sm {
    @media (min-width: @screen-tablet) and (max-width: @screen-tablet-max) {
      .responsive-visibility();
    }    
  }
  @media (min-width: @screen-desktop) and (max-width: @screen-desktop-max) {
    .responsive-visibility();
  }
  @media (min-width: @screen-large-desktop) {
    .responsive-invisibility();
  }
}
.visible-lg {
  @media (max-width: @screen-phone-max) {
  .responsive-invisibility();
  }
  &.visible-xs {
    @media (max-width: @screen-phone-max) {
      .responsive-visibility();
    }    
  }
  @media (min-width: @screen-tablet) and (max-width: @screen-tablet-max) {
    .responsive-invisibility();
  }
  &.visible-sm {
    @media (min-width: @screen-tablet) and (max-width: @screen-tablet-max) {
      .responsive-visibility();
    }    
  }
  @media (min-width: @screen-desktop) and (max-width: @screen-desktop-max) {
    .responsive-invisibility();
  }
  &.visible-md {
    @media (min-width: @screen-desktop) and (max-width: @screen-desktop-max) {
      .responsive-visibility();
    }    
  }
  @media (min-width: @screen-large-desktop) {
    .responsive-visibility();
  }
}


.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.navbar-header:only-child {

    -webkit-box-flex: 0 !important;
    flex: none;

}

.navbar-header {

    padding-left: 0px;
    padding-right: 0px;
    -webkit-box-pack: none !important;
    justify-content: none !important;

}

button.nav-trigger {

    position: relative !important;
    float: right !important;
   
    background-color !important: 

transparent !important;

background-image: none !important;

border: 1px solid

    transparent !important;
    border-radius: 4px !important;

}

.inline-nav > li + li {

    margin-left: 3px !important;
    text-align: right !important; 

}


#regForm {
  background-color: #0000ff;
 
  width: 100%;
  min-width: 300px;
  z-index: 100;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #0000ff;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0;
}

/* Mark the active step: */
.step.active {
  opacity: 0;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

.nextbutton {
	border: 0px !important;
	background-color: #0000ff;
	width: 100%;
	padding-top: 100px !important;
}

.fullheight {

    min-height: 83vh !important;

}